body 
{
    /*background: #464866;*/
    background: black;
    position: relative;
	font-family: 'Akira Expanded', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 60px;
    text-align: center;
}
h1
{
    font-size: 400%;
    color: white;
}
#creditTitle
{
    padding-top: 100px;
}
p
{
    color: white;
}
.creditsInfo
{
    padding-top: 10px;
    color: white;
}